.navbar {
	background: var(--primary-color);
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: 2rem;
}

.navbar__container {
	display: flex;
	align-items: center;
	padding-left: 1rem;
	gap: 1rem; /* Adds space between logo and text */
}

.user_profile {
	padding-right: 1rem;
}

.navbar__logo {
	width: 2.5rem; /* Adjust logo size */
	height: auto;
}

/* Media query for smaller screens (mobile devices) */
@media (max-width: 600px) {
	.navbar {
		font-size: 1.2rem; /* Reduce font size on smaller screens */
	}

	.navbar__container {
		gap: 0.5rem; /* Less space between logo and text */
	}

	/* Keep only logo on very small screens */
	.navbar__logo {
		width: 2rem; /* Resize logo for smaller screens */
	}

	/* Optional: Further reduce padding if needed */
	.navbar {
		padding: 1rem; /* Less padding on small screens */
	}
}
